
:root {
  --accent-neg-2: #9D31F5;
  --accent-neg-1: #8E5BB7;
  --primary: #6B21A8;
  --accent-1: #BE7AF5;
  --accent-2: #4B1775;
}

body {
  margin: 0; 
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
	margin-top: var(--navbar-height, 0);
	height: calc(var(--window-height) - var(--navbar-height) - var(--footer-height));
}

.page-size {
	width: var(--window-width, 0);
	height: calc(var(--window-height, 0) - var(--navbar-height, 0) - var(--footer-height, 0)) !important;
}

.vh-align, .vhalign {
	display: flex;
	align-items: center;
	justify-content: center;
}

.v-align, .valign {
	display: flex;
	align-items: center;
}

.h-align, .halign {
	display: flex;
	justify-content: center;
}

.primary-text {
	color: var(--primary);
}

.primary-bg {
	background-color: var(--primary);
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 1.5s infinite;
}